html, body, #root {
  /* To make use of full height of page*/
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  height: 100%;
  margin: 0;
  background: #23252C;
  font-family: Inter, sans-serif;
}
body > #root {
  margin: 0 auto;
  padding: 50px;
}